<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    
    <% include ./partials/nav %>

    <div class="jumbotron" id="starter-jumbo">
      <h1><b>LEARN MORE<br> FEEL LESS FRUSTRATED<br> GET THE JOB</b></h1>
      <h3>Web-dev gyms for those of us who don't have the money/time for expensive coding bootcamps.</h3>
    </div>

    <div class="container">

      <div class="section" id="cohort-title">
        <h1>- COHORTS -</h1>
        <h4>To apply: simply fill out this <a href="http://bit.ly/2kpcSC0">PLACEMENT SURVEY</a>. If you have any questions, please feel free to send an email at<br><b>CHINGUFTW@GMAIL.COM</b></h4>
      </div>

      <% for(var i=cohorts.length-1; i >= 0; i--) { %>
          <div class="thumbnail" style="background-image: url(<%= cohorts[i].image %>);">
            <% if (typeof user !== "undefined") { %>
            <i id="<%= cohorts[i]._id %>" class="fa fa-times" aria-hidden="true"></i>
            <a class="update" data-toggle="modal" data-target="#updateModal" id="<%= cohorts[i]._id %>">
              <i id="<%= cohorts[i]._id %>" class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <% } %>
            <div class="title">
              <h3> <%= cohorts[i].name %> </h3>
            </div>
            <div class="description">
              <h4> <%= cohorts[i].description %> </h4>
            </div>
            <div class="space">
              <p> space: <%= cohorts[i].space %> </p>
            </div>
          </div>
        <% } %>

    </div><!-- /.container -->

    <div id="updateModal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modify Cohort</h4>
          </div>
          <div class="modal-body">
            <form id="updateForm" method="post" >
              <input class="form-control" type="text" name="space" placeholder="Space Available" />
              <input class="btn btn-success" type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="cohort-about">
      <div class="container">
        <h1>- ABOUT -</h1>
        <div class="row">

          <div class="col col-md-6" style="padding-left: 20%;">
            <h4>Here is what we do: put motivated people with similar goals together in an environment that gives them the opportunity to level-up in a way they couldn't otherwise. Friendships, level ups and hijinks ensue. The FCC chatrooms are great, but for the more shy (like me) they can be a bit chaotic and intimidating. This project aims to create more of a bootcamp style community</h4>
          </div>

          <div class="col col-md-6" style="padding-right: 20%;">
            <h4>How it works is you send an email to chinguftw@gmail I'll get my messenger-pigeon to send you a Placement Survey within a few days. So if you're serious about learning to code, feel free to pick a cohort and join this experiment. If you have any questions or ideas, let's chat!</h4>
          </div>

        </div>
      </div>
    </div>

    <div class="section">

      <h1>- CONTACT -</h1>
      <h4><b>CHINGUFTW@HOTMAIL.COM</b></h4>
      <form style="margin:25px 0;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="KBJ9E8DUWJVL2">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" hidden="" style="display: none !important;">
      </form>

    </div>

    <footer class="navbar navbar-inverse">
      <div class="container" style="text-align:center;">
        <h5>Copyright © CHINGU 2017</h5>
      </div>
    </footer>

    <script>
      $(document).ready(function(){

        $('.fa-times').on('click', function(){
          var id = $(this).attr('id');
          $.ajax({
            url: '/chingu/'+id,
            type: 'DELETE',
            complete: function(){
              window.location.reload(true);
            }
          });
        });

        $('.update[data-toggle=modal]').click(function () {
          var cohort_id = $(this).attr('id');
          $('#updateForm').attr("action", "/chingu/"+cohort_id);
        })
      })

    </script>

  </body>
</html>