<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    
    <% include ./partials/nav %>

    <div class="container">

      <div class="starter-template">
        <% if (user) { %>
          <h1>Hey <%= user.username %> you are awesome!</h1>
        <% } %>
      </div>
      <p>something something</p>

      <% for(var i=cohorts.length-1; i >= 0; i--) { %>
          <div class="thumbnail" style="background-image: url(<%= cohorts[i].image %>);">
            <% if (typeof user !== "undefined") { %>
            <i id="<%= cohorts[i]._id %>" class="fa fa-times" aria-hidden="true"></i>
            <% } %>
            <!--<img class="thumbnail_image" src="<%= cohorts[i].image %>" alt="<%= cohorts[i].name %>" >-->
            <div id="<%= cohorts[i].name %>-title" class="title">
              <h3> <%= cohorts[i].name %> </h3>
            </div>
            <div id="<%= cohorts[i].name %>-desc" class="description">
              <h4> <%= cohorts[i].description %> </h4>
            </div>
          </div>
        <% } %>

    </div><!-- /.container -->

    <script>
      $(document).ready(function(){
        var cohortsArray = <%- (cohorts.length > 0)? cohorts : []; %>;
        for(var i = 0; i<cohortsArray.length;i++){
          $("#"+cohortsArray[i].name+"-desc").css({'width':($("#"+cohortsArray[i].name+"-title").width()+'px')});
        }

        $('.fa-times').on('click', function(){
          var id = $(this).attr('id');
          $.ajax({
            url: '/chingu/'+id,
            type: 'DELETE',
            complete: function(){
              window.location.reload(true);
            }
          });
        });

      })
    </script

  </body>
</html>