<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    
    <% include ./partials/nav %>

    <div class="container">

      <div class="starter-template">
        <% if (user) { %>
          <h1>Hey <%= user.username %> you are awesome!</h1>
        <% } %>
      </div>
      <p>something something</p>

      <% for(var i=cohorts.length-1; i >= 0; i--) { %>
          <div class="thumbnail">
              <img class="thumbnail_image" src="<%= cohorts[i].image %>" alt="<%= cohorts[i].name %>" >
            <div class="user">
              <p> <%= cohorts[i].name %> <br>
              <%= cohorts[i].description %></p>
            </div>
          </div>
        <% } %>

    </div><!-- /.container -->

  </body>
</html>