<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    
    <% include ./partials/nav %>

    <div class="container">

      <div class="starter-template">
        <% if (user) { %>
          <h1>Hey <%= user.username %> you are awesome!</h1>
        <% } %>
      </div>
      <p>something something</p>

      <% for(var i=cohorts.length-1; i >= 0; i--) { %>
          <div class="thumbnail" style="background-image: url(<%= cohorts[i].image %>);">
            <% if (typeof user !== "undefined") { %>
            <i id="<%= cohorts[i]._id %>" class="fa fa-times" aria-hidden="true"></i>
            <a class="update" data-toggle="modal" data-target="#updateModal" id="<%= cohorts[i]._id %>">
              <i id="<%= cohorts[i]._id %>" class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <% } %>
            <!--<img class="thumbnail_image" src="<%= cohorts[i].image %>" alt="<%= cohorts[i].name %>" >-->
            <div class="title">
              <h3> <%= cohorts[i].name %> </h3>
            </div>
            <div class="description">
              <h4> <%= cohorts[i].description %> </h4>
            </div>
            <div class="space">
              <p> space: <%= cohorts[i].space %> </p>
            </div>
          </div>
        <% } %>

    </div><!-- /.container -->

    <div id="updateModal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modify Cohort</h4>
          </div>
          <div class="modal-body">
            <form id="updateForm" method="post" >
              <input class="form-control" type="text" name="space" placeholder="Space Available" />
              <input class="btn btn-success" type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){

        $('.fa-times').on('click', function(){
          var id = $(this).attr('id');
          $.ajax({
            url: '/chingu/'+id,
            type: 'DELETE',
            complete: function(){
              window.location.reload(true);
            }
          });
        });

        $('.update[data-toggle=modal]').click(function () {
          var cohort_id = $(this).attr('id');
          $('#updateForm').attr("action", "/chingu/"+cohort_id);
        })
      })

    </script>

  </body>
</html>